<!--Inicio-->
<div class="principal">
    <img class="w-100 filtro" src="/assets/imgs/carousel-1.jpg" alt="First slide">
    <div class="Texto">
        <h2 class="text-white"><b>Hemos estado sirviendo</b></h2>
        <h1 class="display-1 text-warning"><b>CAFÉ</b></h1>
        <h2 class="abajo text-white"><b>* SINCE 1950 *</b></h2>
    </div>
</div>

<!-- Apartado de Contáctanos -->
<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="section-title text-warning">Contáctanos</h2>
                <p>¡Estamos aquí para ayudarte! Ponte en contacto con nosotros si tienes alguna pregunta o comentario.</p>
                <!-- Puedes agregar más información de contacto según sea necesario -->
            </div>
            <div class="col-md-6">
                <form>
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Tu nombre">
                    </div>
                    <div class="form-group">
                        <label for="email">Correo Electrónico:</label>
                        <input type="email" class="form-control" id="email" placeholder="tucorreo@example.com">
                    </div>
                    <div class="form-group">
                        <label for="mensaje">Mensaje:</label>
                        <textarea class="form-control" id="mensaje" rows="4" placeholder="Escribe tu mensaje aquí"></textarea>
                    </div>
                    <button type="submit" class="btn btn-warning">Enviar Mensaje</button>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="bg-dark text-white text-center py-4 filtro cuadro" style="background-image: url('/assets/imgs/bg.jpg'); background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>&copy; 2023 El Ajolote | Todos los derechos reservados</p>
                <p>Dirección: Plaza Mayor, León Guanajuato, Mx</p>
                <p>Teléfono: +52 477 1283145</p>
                <p>Email: Cafe@elajolote.com</p>
            </div>
        </div>
    </div>
</footer>
