.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  mat-card {
    width: 300px;
  }
  
  .login-form {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  button {
    width: 100%;
    margin-top: 20px;
  }

  /* Estilos personalizados para el footer */
  footer {
    width: 100%;
    padding: 40px 0; /* Ajusta el relleno según sea necesario */
    background-color: #343a40; /* Color de fondo */
    color: #fff; /* Color del texto */
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.2); /* Sombra de elevación */
}


.container {
    position: relative;
}


/* Estilo para el texto del footer */
p {
    margin: 5px 0;
}

/* Estilos específicos para el fondo oscuro */
.bg-dark {
    background-color: #343a40; /* Cambia este color según tu preferencia */
    color: #fff;
}

/* Añade sombra al footer para un efecto de elevación */
footer {
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.2);
}